@font-face {
    font-family: 'ChosunLo';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunLo/ChosunLo.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunLo/ChosunLo.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/ChosunLo/ChosunLo.ttf') format('truetype');
}
